nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  min-width: 100vw;
  background-color: var(--brown-50);
  overflow-y: hidden;
}

nav #menu-btn {
  display: block;
}

nav .logo {
  object-fit: cover;
  aspect-ratio: none;
  object-position: center;
}

nav header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

nav header .title {
  font-size: 2.5rem;
}

nav header p {
  display: none;
  gap: 0.6em;
}

nav header .description italic {
  color: var(--brown-500);
  font-size: 1.7rem;
  overflow: hidden;
  font-family: "Italianno", sans-serif;
}

nav .nav-items {
  position: fixed;
  top: 4.25em;
  left: 0;
  right: 0;
  min-width: 100dvw;
  min-height: calc(100dvh - 4.25em);
  background-color: var(--brown-50);
  display: none;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  gap: 2em;
  align-items: center;
  font-weight: 400;
  flex-wrap: wrap;
}

nav .nav-items.active {
  display: flex;
}

nav .nav-item a {
  text-decoration: none;
}

nav .nav-item:hover a {
  text-decoration: underline;
}

nav .nav-item a {
  text-transform: uppercase;
}

nav .right-content {
  display: flex;
  gap: 1em;
  align-items: center;
}

@media (min-width: 728px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  nav .nav-items {
    padding: 0;
    position: static;
    flex-direction: row;
    min-height: initial;
    min-width: initial;
    display: flex;
  }

  nav header {
    text-align: center;
  }

  nav #menu-btn {
    display: none;
  }

  nav header .description {
    display: flex;
  }
}
/* Footer */
footer {
  background-color: var(--brown-200); 
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 2em;
}


footer .footer-section {
  text-align: left; 
  max-width: 20em;
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}


footer .footer-section.address {
  margin-left: auto;
}

footer h3 {
  font-size: 1.4em;
  color: var(--brown-900);
  margin-bottom: 0.5em;
}


footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1rem;
  color: var(--brown-900);
}


footer ul li img {
  width: 20px;
  height: 20px;
  margin-right: 0.5em; 
}


footer .footer-center {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--brown-700);
  text-align: center;
  margin-top: 3.5rem;
}


footer .footer-section ul li a {
  text-decoration: none;
  color: var(--brown-900);
}

footer .footer-section ul li a:hover {
  color: var(--brown-700);
}


@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }

  footer .footer-section {
    text-align: left;
  }
}


footer .footer-center {
  font-weight: 800;
  font-size: 1.1rem;
  color: var(--brown-700);
}

footer .footer-section ul li a {
  color: var(--brown-900);
  text-decoration: none;
}

footer .footer-section ul li a:hover {
  text-decoration: underline;
  color: var(--brown-700);
}

footer .footer-section ul li svg {
  width: 24px;
  height: 24px;
  margin-right: 0.75em;
  vertical-align: middle;

}

@media (min-width: 728px) {
  footer {
    flex-direction: row;
    text-align: left;
  }

  footer .footer-section {
    align-items: flex-start;
  }
}


